// All Css Here
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./components/style.scss";
// @import "../public/assets/css/plugins.css";
// @import "../public/assets/scss/style";
// @import "~slick-carousel/slick/slick.css";
// @import "~slick-carousel/slick/slick-theme.css";
// @import "node_modules/react-modal-video/scss/modal-video.scss";

.react-viewer-mask {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@keyframes beat {
    to {
        transform: scale(1.4);
    }
}

.react-viewer-canvas {
    .loading-wrap {
        .circle-loading {
            background-color: whitesmoke;
            width: 55px;
            height: 55px;
            border-radius: 7px;
            background-image: url(/icons/logo.png?w=50&q=50);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            border: 6px solid rgba(255, 255, 255, 0.2);
            animation: beat 0.25s infinite alternate;
        }
    }
}

.negative-shadow {
    text-shadow: -2px -2px 3px #ffffff, -2px 2px 3px #ffffff, 2px 2px 3px #ffffff, 2px -2px 3px #ffffff;
}

.slogan {
    position: relative;
    height: 120px;
    .title,
    .title-stroke {
        position: absolute;
        font-size: 40px;
        font-weight: 600;
        line-height: 3em;
        color: $theme-color;
        text-shadow: -2px -2px 2px #ffffff, -2px 2px 2px #ffffff, 2px 2px 2px #ffffff, 2px -2px 2px #ffffff;
        white-space: nowrap;
        @media #{$sm-layout} {
            font-size: 28px;
            line-height: 2.6em;
            margin: 32px 0 20px 0;
            color: "red";
        }
    }
}

.contact-btn {
    position: relative;
    display: inline-block;
    align-items: center;
    padding: 10px 20px;
    color: $theme-color;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.2s;
    letter-spacing: 4px;
}

.contact-btn:hover {
    background: $theme-color;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px $theme-color, 0 0 25px $theme-color, 0 0 50px $theme-color, 0 0 100px $theme-color;
}

.contact-btn span {
    position: absolute;
    display: block;
}

.contact-btn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, $theme-color);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

.contact-btn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, $theme-color);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

.contact-btn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, $theme-color);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

.contact-btn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, $theme-color);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}

#bigbee-app {
    & > div {
        min-height: 100vh;
    }
    position: relative;
    background: linear-gradient(180deg, rgb(2, 0, 36) 0%, #c47d00 0%, #eca830 100%);

    .app-desc {
        position: relative;
        padding: 80px;
        background: transparent;
        width: 90%;
        margin-top: 5%;

        @media #{$md-layout} {
            width: 100%;
        }

        @media #{$sm-layout} {
            width: 100%;
            padding: 60px 20px;
        }

        @media #{$lg-layout} {
            padding: 20px;
        }

        color: #333333;
        p + p {
            margin-top: 40px;
        }
        p {
            position: relative;
            z-index: 12;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.344);
            border-radius: 20px;
            transform: skew(-10deg);
            @media #{$lg-layout} {
                transform: skew(0deg);
            }
            @media #{$md-layout} {
                transform: skew(0deg);
            }
            @media #{$sm-layout} {
                transform: skew(0deg);
            }
        }
    }
}
