// All Css Here
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./components/style.scss";
// @import "../public/assets/css/plugins.css";
// @import "../public/assets/scss/style";
// @import "~slick-carousel/slick/slick.css";
// @import "~slick-carousel/slick/slick-theme.css";
// @import "node_modules/react-modal-video/scss/modal-video.scss";

.react-viewer-mask {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
