// All Css Here
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./components/style.scss";
// @import "../public/assets/css/plugins.css";
// @import "../public/assets/scss/style";
// @import "~slick-carousel/slick/slick.css";
// @import "~slick-carousel/slick/slick-theme.css";
// @import "node_modules/react-modal-video/scss/modal-video.scss";

.react-viewer-mask {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@keyframes beat {
    to {
        transform: scale(1.4);
    }
}

.react-viewer-canvas {
    .loading-wrap {
        .circle-loading {
            background-color: whitesmoke;
            width: 55px;
            height: 55px;
            border-radius: 10px;
            background-image: url(http://localhost:3000/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Flogo.e5e8053b.png&w=64&q=75);
            background-repeat: no-repeat;
            background-position: center;
            border: none;
            animation: beat 0.25s infinite alternate;
        }
    }
}
