@import "@/styles/components/default/_variables.scss";

.logo {
    display: flex;
    img {
        position: relative;
        z-index: 1;
    }
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        content: " ";
        width: 100%;
        height: 100%;
        // background-color: $white;
        border-radius: 4px;
    }
}
